@model IEnumerable<FAQVM>
@{
    ViewData["Title"] = "FAQ";
}
@inject ISettingService _settingService
@{
    var datas = (await _settingService.GetSettings()).ToDictionary(x => x.Key, x => x.Value);
}
@section css {
    <link rel="stylesheet" href="~/assets/css/FAQ/style.css?v=@DateTime.Now.Ticks">
}
<main>
    <section id="nav"
             style="background-image: url('assets/images/home/banner-search-form-min.png'); background-size: cover;">
        <div class="navbar">
            <div class="cus-container">
                <div class="row align-items-center line">
                    <div class="col-md-2 left">
                        <div class="menuIcon d-none">
                            <i class="fa-solid fa-bars"></i>
                        </div>
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <picture>
                                    <source media="(max-width: 990px)" srcset="~/assets/images/home/blackLogo.svg">
                                    <img class="logo" src="@datas["logo"]">
                                </picture>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-7 midd">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-controller="Hotel" asp-action="Index">Hotels</a>
                            </li>
                            <li>
                                <a asp-controller="About" asp-action="Index">About</a>
                            </li>
                            <li>
                                <a asp-controller="Blog" asp-action="Index">Blog</a>
                            </li>
                            <li>
                                <a asp-controller="Contact" asp-action="Index">Contact</a>
                            </li>
                            <li>
                                <a asp-controller="FAQ" asp-action="Index">FAQ</a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {
                                <li>
                                    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="col-md-3 right">
                        <div class="currency">
                            <span id="currency">EUR</span>
                            <i class="fa-solid fa-angle-down curicon"></i>
                            <i class="fa-solid fa-angle-up curicon_ d-none"></i>
                        </div>
                        <div class="basket">
                            <div class="circle">
                                <i class="fa-regular fa-heart like-iconn"></i>
                            </div>
                        </div>
                        <div class="profile">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Account" asp-action="Login">
                                    <div class="circle">
                                        <i class="fa-regular fa-user" style="color:black"></i>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a href="" style="pointer-events: none;">
                                    <div class="circle">
                                        <i class="fa-regular fa-user" style="color:black"></i>
                                    </div>
                                </a>
                            }
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="login-info">
                                <span style="color:white">@User.Identity.Name</span>
                                <form method="post" asp-controller="Account" asp-action="LogOut">
                                    <button type="submit" class=" btn btn-primary ">Log out</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="controller-name">
            <span class="home">Home</span>
            <span class="icon"><i class="fa-solid fa-circle"></i></span>
            <span class="name">FAQ</span>
        </div>
        <div class="currency-tab d-none">
            <ul>
                <li class="li">
                    USD
                </li>
                <li class="li">
                    EUR
                </li>
                <li class="li">
                    AZN
                </li>
            </ul>
        </div>
        <div class="basket-tab d-none">

            <div class="contain">
                <p class="title">Your Cart</p>
                <hr>
                <ul>
                    <li>
                        <span>Your cart is empty</span>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <div class="move-up">
        <i class="fa-solid fa-angle-up"></i>
    </div>

    <section id="questions">
        <div class="cus-container">
            <p>Frequently asked questions</p>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="faq-container">
                        @{
                            foreach(var item in Model)
                            {
                                <div class="item">
                                    <p>@item.Question</p>
                                    <i class="fa-solid fa-plus"></i>
                                    <div class="content">
                                        <span>
                                            @item.Answer
                                        </span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section id="subscribtion">
        <div class="cus-container">
            <div class="row">
                <div class="col-lg-6 col-md-6 left"
                     style="background-image: url('assets/images/home/subscribtion_Image.webp'); background-size: cover;">
                </div>
                <div class="col-lg-6 col-md-6 right">
                    <div class="contain">
                        <div class="head">
                            <h1>Get special offers, and more from Traveler</h2>
                        </div>
                        <div class="mid">
                            <p>Subscribe to see secret deals prices drop the moment you sign up!</p>
                        </div>
                        <div class="end">
                            <form>
                                <input type="email" class="mt-4" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Email Address">
                                <button type="submit" class="btn btn-primary submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section js {
    <script src="~/assets/js/faq/script.js"></script>
}
