@{
    ViewData["Title"] = "Contact";
}
@section css {
    <link rel="stylesheet" href="~/assets/css/Contact/style.css">
}
@inject ISettingService _settingService
@{
    var datas = (await _settingService.GetSettings()).ToDictionary(x => x.Key, x => x.Value);
}
<main>
    <section id="nav"
             style="background-image: url('assets/images/home/banner-search-form-min.png'); background-size: cover;">
        <div class="navbar">
            <div class="cus-container">
                <div class="row align-items-center line">
                    <div class="col-md-2 left">
                        <div class="menuIcon d-none">
                            <i class="fa-solid fa-bars"></i>
                        </div>
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <picture>
                                    <source media="(max-width: 990px)" srcset="~/assets/images/home/blackLogo.svg">
                                    <img class="logo" src="@datas["logo"]">
                                </picture>
                            </a>
                        </div>

                    </div>
                    <div class="col-md-7 midd">
                        <ul>
                            <li>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-controller="Hotel" asp-action="Index">Hotels</a>
                            </li>
                            <li>
                                <a asp-controller="About" asp-action="Index">About</a>
                            </li>
                            <li>
                                <a asp-controller="Blog" asp-action="Index">Blog</a>
                            </li>
                            <li>
                                <a asp-controller="Contact" asp-action="Index">Contact</a>
                            </li>
                            <li>
                                <a asp-controller="FAQ" asp-action="Index">FAQ</a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {
                                <li>
                                    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a>
                                </li>
                            }
                        </ul>
                    </div>

                    <div class="col-md-3 right">
                        <div class="currency">
                            <span id="currency">EUR</span>
                            <i class="fa-solid fa-angle-down curicon"></i>
                            <i class="fa-solid fa-angle-up curicon_ d-none"></i>
                        </div>
                        <div class="basket">
                            <div class="circle">
                                <i class="fa-solid fa-basket-shopping"></i>
                            </div>
                        </div>
                        <div class="profile">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Account" asp-action="Login">
                                    <div class="circle">
                                        <i class="fa-regular fa-user" style="color:black"></i>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a href="" style="pointer-events: none;">
                                    <div class="circle">
                                        <i class="fa-regular fa-user" style="color:black"></i>
                                    </div>
                                </a>
                            }
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="login-info">
                                <span style="color:white">@User.Identity.Name</span>
                                <form method="post" asp-controller="Account" asp-action="LogOut">
                                    <button type="submit" class=" btn btn-primary ">Log out</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="controller-name">
            <span class="home">Home</span>
            <span class="icon"><i class="fa-solid fa-circle"></i></span>
            <span class="name">Contact</span>
        </div>
        <div class="currency-tab d-none">
            <ul>
                <li class="li">
                    USD
                </li>
                <li class="li">
                    EUR
                </li>
                <li class="li">
                    AZN
                </li>
            </ul>
        </div>
        <div class="basket-tab d-none">

            <div class="contain">
                <p class="title">Your Cart</p>
                <hr>
                <ul>
                    <li>
                        <span>Your cart is empty</span>
                    </li>
                </ul>
            </div>
        </div>

    </section>

    <div class="move-up">
        <i class="fa-solid fa-angle-up"></i>
    </div>

    <!-- <section id="map">
        <div class="cus-container">
            <div style="width: 100%; height: 600px;">
                <iframe width="100%" height="100%" frameborder="0" style="border:0" loading="lazy" allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGEyKiDCVY0ACQfUFlNGsvlW9QJF-JCmc&q=New+York&zoom=10"
                    title="New York Map" aria-label="New York">
                </iframe>
            </div>
        </div>
    </section> -->


    <section id="map">
        <div class="cus-container">
            <div id="map-canvas"></div>
        </div>
    </section>

    <section id="info">
        <div class="cus-container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="left">
                        <div class="title">
                            <p>Contact information</p>
                        </div>
                        <div class="text">
                            <p>
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </p>
                        </div>
                        <div class="location">
                            <i class="fa-solid fa-location-dot"></i>
                            <!-- <p class="addressForMap"> 540 Libety Road, New District, New York</p>   -->
                            <p class="addressForMap"> 540 Libety Road, New District, New York</p>
                        </div>
                        <div class="phone">
                            <i class="fa-solid fa-phone"></i>
                            <p>(000) 999 -656 -888</p>
                        </div>
                        <div class="mail">
                            <i class="fa-solid fa-envelope"></i>
                            <p>travelerwp@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="right">
                        <div class="contain">
                            <div class="title">
                                <p>Send a message</p>
                            </div>

                            <form>
                                <div class="form-group d-flex gap-3 mb-3 mt-5">
                                    <input type="text" class="form-control ps-4" placeholder="Enter name">
                                    <input type="text" class="form-control ps-4" placeholder="Enter phone">
                                </div>
                                <div class="form-group mb-3 mt-5">
                                    <input type="email" class="form-control ps-4" id="exampleInputEmail1"
                                           aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group mb-3 mt-5">
                                    <!-- <input type="text" class="form-control message ps-4"
                                        aria-describedby="emailHelp" placeholder="Message"> -->
                                    <textarea class="form-control ps-4" placeholder="Enter your message"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary  mt-2 button">Submit</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@* <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGEyKiDCVY0ACQfUFlNGsvlW9QJF-JCmc"
        async defer></script> *@
@section js {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGEyKiDCVY0ACQfUFlNGsvlW9QJF-JCmc"
            async defer></script>
    <script src="~/assets/js/contact/script.js"></script>
}