@model SettingVM

<div class="pc-container">
    <div class="pc-content">
        <a asp-action="Index" class="btn btn-success mt-1" style="width: 75px">Return</a>
        <table class="table table-striped table-hover mt-2">
            <thead style="width: 100%">
                <tr>
                    <th style="border-top: 1px solid rgb(170, 173, 179); border-bottom: 1px solid rgb(170, 173, 179); border-left: none; border-right: none;">Key</th>
                    <th style="border-top: 1px solid rgb(170, 173, 179); border-bottom: 1px solid rgb(170, 173, 179); border-left: none; border-right: none;">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border-top: 1px solid rgb(170, 173, 179); border-bottom: 1px solid rgb(170, 173, 179); border-left: none; border-right: none; white-space: normal; word-break: break-word; max-width: 300px;">@Model.Key </td>
                    <td style="border-top: 1px solid rgb(170, 173, 179); border-bottom: 1px solid rgb(170, 173, 179); border-left: none; border-right: none; white-space: normal; word-break: break-word;max-width: 300px;">
                        @if (Model.Key == "logo")
                        {
                        <img src="@Model.Value" style="width:250px; height:auto" />
                    }
                    else if (Model.Key == "video")
                    {
                            <div class="video">
                                <video id="myVideo" src="@Model.Value" controls
                                       preload="metadata"></video>
                            </div>
                    }
                    else
                    {
                        @Model.Value
                    }
                    </td>
            </tbody>
        </table>

    </div>
</div>